{% extends "layouts/base.html" %}

{% block content %}
<h2 class="text-3xl text-center border-b-2 border-green-300">{{ title }}</h2>

<div class="m-6">
  {{ content | safe }}
</div>

<div class="races">
{%- for race in races -%}
  <div class="w-full my-4 p-2 text-center bg-yellow-100 rounded-tr-3xl rounded-bl-3xl">
    <p class="font-semibold text-4xl">{{ race.title }}</p>
    <span class="flex">
      <span class="text-4xl text-green-800 font-semibold w-1/4">${{ race.price/100 }}</span>
      <p class="w-3/4">{{ race.details | safe }}</p>
    </span>
    <button id="race-{{ race.price }}" data-sku="{{ race.sku }}" class="race-button rounded bg-green-200 hover:bg-green-300 mt-4 p-1">👆 this is me</button>
  </div>
{%- endfor -%}
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  console.log('Run like a bird')

  const stripe = Stripe('{{ environment.stripePublishableKey() }}')
  
  const buttons = document.querySelectorAll('.race-button')
  
  const clickHandler = buttons.forEach(b => {
    b.addEventListener('click', async event => {
      event.preventDefault()
      console.log(event.target.id)

      const order = {
        sku: event.target.dataset.sku
      }
      
      const response = await fetch('/api/create-checkout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(order)
      })
      .then(response => {
        return response.json()
      })

      try {
        const result = await stripe.redirectToCheckout({
          sessionId: response
        })
      } catch (e) {
        console.log(e)
      }
    })
  })
</script>

{% endblock %}
